#############################################################################################################
#  ARGS            | DEFAULT                                   | LEVEL
#——————————————————|———————————————————————————————————————————|—————————————————————————————————————————————
#  FLIST           | single_cfg::FLIST                         | necessary 
#  TB_TOP          | single_cfg::TB_TOP                        | necessary if more than one args,must use space between two args
#  LINK_FILES      | single_cfg::LINK_FILES                    | optional  if more than one args,must use space between two args
#  VCS_TB_DEFINES  | single_cfg::VCS_TB_DEFINES                | optional +A_def+B_def, if more than one args,must use +     between two args
#  UVM_VERBOSITY   | single_cfg::UVM_VERBOSITY                 | optional, UVM_MEDIUM/…
#  TIMESCALE       | single_cfg::TIMESCALE                     | optional, 1ps/1ps
#  TIMING_MODE     | single_cfg::TIMING_MODE                   | optional, 1~3 //0: rtl simulation/1:0 delay netlist/2: Power analysis, no timing check/3: power post-imitation
#  PROC            | 5                                         | optional, x
#  WAVE            | 1                                         | optional, 0
#  COV             | 0                                         | optional, 1
#  VCS_LOG         | 1                                         | optional, 0
#  SAVE_RPT        | single_cfg::SAVE_RPT                      | optional, 1,mv rsim/sim_batch/batch_rpt to rsim/batch_rpt_year_mon_day_hour_min
#  PROFILE         | single_cfg::PROFILE                       | optional, 1~2 //get report for vcs time/mem
#  PERFORMANCE_LOG | single_cfg::PERFORMANCE_LOG               | optional, 1   //collect PERFORMANCE_LOG..... in screen to rsim/performance.log
#  CMP_FULL        | single_cfg::CMP_FULL                      | optional, when use key word + or space,but do not want to be splited
#  SIM_FULL        | single_cfg::SIM_FULL                      | optional, when use key word + or space,but do not want to be splited
#  C_HEAD_DIR      | single_cfg::C_HEAD_DIR                    | necessary when run asm/c program,others optional 
#  C_PROG_DIR      | single_cfg::C_PROG_DIR                    | necessary when run asm/c program,others optional 
#  GCC_DIR         | single_cfg::GCC_DIR                       | necessary when run asm/c program,others optional 
#  INITIAL_FILE_DIR| single_cfg::INITIAL_FILE_DIR              | necessary when run asm/c program,others optional appoint boot_file/system_file path
#  TEST_DIR        | single_cfg::TEST_DIR                      | necessary when run asm/c program,others optional  
#  GCC_CONFIG      | single_cfg::GCC_CONFIG                    | necessary when run asm/c program,others optional  
#  BOOT_FILE       | single_cfg::BOOT_FILE                     | necessary when run asm/c program,others optional  
#  GCC_FLAG        | single_cfg::GCC_FLAG                      | optional when run asm/c program, 1
#  FLOAT_GCC_FLAG  | single_cfg::FLOAT_GCC_FLAG                | optional when run asm/c program, 1
#  JTAG_GCC_FLAG   | single_cfg::JTAG_GCC_FLAG                 | optional when run asm/c program, 1
#############################################################################################################