################################################################################################################
#  ARGS             | DEFAULT                                       | LEVEL
#———————————————————|———————————————————————————————————————————————|———————————————————————————————————————————
#  FLIST            | null                                          | necessary 
#  TB_TOP           | null                                          | necessary if more than one args,must use space between two args
#  LINK_FILES       | null                                          | optional  if more than one args,must use space between two args
#  VCS_TB_DEFINES   | null                                          | optional, if more than one args,must use +     between two args
#  UVM_VERBOSITY    | UVM_LOW                                       | optional, UVM_MEDIUM/…
#  TIMESCALE        | 1ns/1ps                                       | optional, 1ps/1ps
#  TIMING_MODE      | 0                                             | optional, 1~3 //0: rtl simulation/1:0 delay netlist/2: Power analysis, no timing check/3: power post-imitation
#  WAVE             | 1                                             | optional, 0
#  COV              | 0                                             | optional, 1
#  MAP              | null                                          | optional, if you need merge cov in fix hierarchy
#  VCS_LOG          | 1                                             | optional, 0
#  SAVE_RPT         | 0                                             | optional, 1,mv rsim/sim_batch/batch_rpt to rsim/batch_rpt_year_mon_day_hour_min
#  PROFILE          | 0                                             | optional, 1~2 //get report for vcs time/mem
#  PERFORMANCE_LOG  | 0                                             | optional, 1   //collect PERFORMANCE_LOG..... in screen to rsim/performance.log
#  CMP_FULL         | null                                          | optional, when use key word + or space,but do not want to be splited
#  SIM_FULL         | null                                          | optional, when use key word + or space,but do not want to be splited
#  BOOT_FILE        | null                                          | necessary when run asm/c program,others optional  
#  INITIAL_FILE_DIR | null                                          | necessary when run asm/c program,others optional 
#  TEST_DIR         | null                                          | necessary when run asm/c program,others optional  
#  C_LIB_DIR        | null//$PATH+$PATH                             | necessary when run asm/c program,others optional 
#  C_HEAD_DIR       | null//$PATH+$PATH                             | necessary when run asm/c program,others optional 
#  C_PROG_DIR       | null//$PATH/*.c                               | necessary when run asm/c program,others optional 
#  GCC_FLAG         | 0                                             | optional  when run asm/c program, 1
#  SYSC_FLAG        | 0                                             | optional  when run system c program, 1
#  CPP_FLAG         | 0                                             | optional  when run c++   program, 1
#  FLOAT_GCC_FLAG   | 0                                             | optional  when run asm/c program, 1
#  JTAG_GCC_FLAG    | 0                                             | optional  when run asm/c program, 1
#  GCC_CONFIG       | null                                          | necessary when run asm/c program,others optional  
#  GCC_DIR          | $RISCV_TESTS_HOME                             | necessary when run asm/c program,others optional,can not be change,need setenv RISCV_TESTS_HOME in ~/.cshrc 
#  MASK_COV_NAME    | null                                          | optional  when you want to mark cov,should save cov.cfg in rsim/link_files
#  PARALLEL_NUM     | null                                          | optional  when you want to parallel comp,eq "-parallelcomp=j$(PARALLEL_NUM)"
#  INITREG          | null                                          | optional,0|1|x|z|random|config+initcfg,if you want initial dut reg.
#  INITMEM          | null                                          | optional,0|1|x|z|random|config+initcfg,if you want initial dut mem.
################################################################################################################
FLIST         = flist_xxx.f
TB_TOP        = xxx_tb_top
UVM_VERBOSITY = UVM_MEDIUM
#INITIAL_FILE_DIR   = /project/Develop/CPU/cpu_share/software_tools/xxx-software/release/vcs_core
#TEST_DIR           = ../program
#GCC_CONFIG         = ddr_defconfig
#BOOT_FILE          = easyboot_boot2ddr_cacheable_noninitddr.vmem